.DS_Store
.recommenders/

# email class with private info
*EmailUtility*
*app/src/main/resources/application.properties*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# eclipse specific git ignore
RemoteSystemsTempFiles/
.project
.metadata
bin/**
tmp/**
tmp/**/*
.classpath
.settings/