@keyframes showUpContacts {
	from {
  		color: PaleGoldenRod;
  		visibility: hidden;
	}

	to {
  		color: white;
  		visibility: visible;
	}
}

#contact-body {
	background: #38393d;
    color: white;
}

#my-email {
	letter-spacing: 0.2em;
    color: white;
    font-size: 110%;
}

#contact-whole {
	animation: contactAnim 1.2s ease;
	animation-fill-mode: forwards;
}

#home-return {
	float: right;
}

.done-icone {
	color: PaleGoldenRod;
	font-size: 100%;
	font-weight: 100;
}

.my-contacts {
	float: right;
}

.contact-1 {
	animation: showUpContacts 1.3s ease;
	animation-delay: 1.6s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.contact-2 {
	animation: showUpContacts 1s ease;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.contact-3 {
	animation: justShowUp 3s linear;
	animation-delay: 2.4s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.contact-4 {
	animation: justShowUp 4s linear;
	animation-delay: 2.9s;
	animation-fill-mode: forwards;
	visibility: hidden;
}
