@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

#myself {
	text-align: center;
	width: 100%;
	border-radius: 500px;
	-webkit-animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#skill {
	text-align: center;
	display: inline-block;
    transition: all ease 750ms;
}

#skills-reload {
	cursor: pointer;
	display: none;
}

#skills-title {
	line-height: 36px;
	font-size: 120%;
}

h5, h6 {
	font-family: "Poiret One";
	font-weight: 600;
	font-size: 80%;
}

#highlights-content {
	width: 100%;
	color: white;
	padding-bottom: 20px;
	background: #04070f;
	background-attachment: fixed;
	background-image: url('/img/world-map.jpg');
}

#project-github-link {
	text-decoration: none;
	text-align: center;
}

#intro-with-header {
	background: #04070f;
	background-attachment: fixed;
	background-image: url('/img/world-map.jpg');
}

#intro-content {
	margin-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	color: white;
}

a {
	color: #2a6c73;
}

#intro-1-right {
	-webkit-animation: shrink 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: shrink 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#highlights-intro {
	text-align: center;
	margin: 0 auto;
}

#course-table-container {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

#course-table-div {
	display: none;
	margin: 0 auto;
	margin-bottom: 2vw;
}

.mdl-data-table {
	background: rgba(42,108,115,1);
	color: white;
	letter-spacing: 0.3em;
}

.mdl-data-table th {
	font-size: 90%;
	color: #04070f;
	letter-spacing: 0.1em;
}

.mdl-data-table td {
	font-size: 90%;
	color: #04070f;
	letter-spacing: 0.1em;
}

.td-row:hover {
	animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;	
	transform: translate3d(0, 0, 0);
}

.td-row:hover > td {
	color: #04070f;
}

.rest-bottom {
	font-wiehgt: 600;
	color: #2a6c73;
	position: relative;
	left: 0;
}

#copyright-info span {
	left: 0;
	width: 100px;
	position: absolute;
	bottom: 0;
}

#copyright-info p {
	font-size: 70%;
	width: 200px;
}

#resume-page-1 img, #resume-page-2 img {
	width: 100%;
	height: auto;
}

#download-resume {
	margin: 0 auto;
}

#social-links {
	margin: 0 auto;
	text-align: center;
}

#social-links-git, #social-links-link {
	margin: 3px;
	margin-top: 82px;
}

#divide-image1, #divide-image2 {
	height: 200px;
	background-attachment: fixed;
	background-image: url('/img/back.png');
}

#sfu-link {
	color: white;
}

.highlight-badge {
	color: #2a6c73;
	padding-top: 20px;
	border-radius: 60px;
}

.highlight-badge:hover {
	-webkit-animation: shake 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shake 0.2s cubic-bezier(0.2, 0, 0.5, 0);
}
