#myself {
	animation: slideInColorLeft 0.3s linear;
	animation-fill-mode: forwards;
	text-align: center;
	width: 100%;
	height: auto;
}

#presidents-text, #deans-text, #cgpa-text, #c-cgpa-text {
	animation: slideInColorLeft 1s;
}

#presidents-text, #deans-text, #cgpa-text, #c-cgpa-text{
	font-weight: 100;
	font-size: 130%;
}

#presidents-time, #deans-time, #cgpa-num, #c-cgpa-num {
	animation: showUp 0.5s ease;
	animation-delay: 2.2s;
	animation-fill-mode: forwards;
	visibility: hidden;
	font-size: 100%;
	text-align: center;
}

#awards-content {
	background: #38393d;
	width: 100%;
	color: white;
	padding-bottom: 20px;
	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}

#project-github-link {
	text-decoration: none;
	text-align: center;
}

#copyright-info {
	text-align: center;
}

#intro-content {
	background: #232529;
	padding-bottom: 20px;
	width: 100%;
	color: white;
	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
    border-bottom: groove 1px PaleGoldenRod;
	animation: slideInColorRight 1s linear;
}

#sap-link {
	color: PaleGoldenRod;
}

#intro-1-left {
	
}

#intro-1-right {
	animation: slideInColorRight 1s ease;
	text-align: center;
}

#intro-2 {
}

#course-table-div {
	display:none;
}

.academic-box {
	border-bottom: 1px solid PaleGoldenRod;
	animation: showUp 2.5s ease;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.mdl-data-table {
	font-size: 100%;
	background-color: rgba(0,0,0,0.3);
	color: white;
	letter-spacing: 0.3em;
	font-family: Prime, 'Open Sans', sans-serif;
}

.mdl-data-table th {
	font-size: 100%;
	color: PaleGoldenRod;
	letter-spacing: 0.3em;
	font-family: Prime, 'Open Sans', sans-serif;
}

.td-row:hover {
	color: black;
	background-color: PaleGoldenRod;
	animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;	
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

.rest-bottom {
	background: #38393d;
}
