@keyframes change-language {
  5% { content:"Java"; }
  25% { content:"JavaScript"; }
  35% { content:"Python"; }
  50% { content:"SQL"; }
  75% { content:"CSS"; }
  90% { content: "HTML"; }
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

#myself {
	text-align: center;
	width: 100%;
	border-radius: 500px;
	-webkit-animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: pop-up 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#myself:hover {
	transform: scale(0.2); 
	transition: all ease 750ms;
}

#skill {
	color: white;
	font-family: "Poiret One";
	font-size: 200%;
	text-align: center;
	display: inline-block;
    transition: all ease 750ms;
}

h5, h6 {
	font-family: "Poiret One";
	font-weight: 600;
}

#skill:after {
	content: "";
  	animation: change-language 10s ease infinite;
}

#presidents-text, #deans-text, #cgpa-text, #c-cgpa-text {
	animation: slideInColorLeft 1s;
}

#presidents-text, #deans-text, #cgpa-text, #c-cgpa-text{
	font-size: 130%;
}

#presidents-time, #deans-time, #cgpa-num, #c-cgpa-num {
	animation: showUp 0.5s ease;
	animation-delay: 2.2s;
	animation-fill-mode: forwards;
	visibility: hidden;
	font-size: 100%;
	text-align: center;
}

#awards-content {
	width: 100%;
	color: black;
	padding-bottom: 20px;
	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}

#project-github-link {
	text-decoration: none;
	text-align: center;
}

#copyright-info {
	text-align: center;
}

#intro-content {
	margin-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	color: black;
	background-size:     cover;                   
    background-repeat:   no-repeat;
    background-position: center center;
}

a {
	color: #2a6c73;
}

#intro-1-right {
	-webkit-animation: shrink 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: shrink 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#education-intro {
	text-align: center;
	margin: 0 auto;
}

#course-table-container {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

#course-table-div {
	display: none;
	margin: 0 auto;
}

.academic-box {
	border-bottom: 1px solid #2a6c73;
	animation: showUp 2.5s ease;
	animation-delay: 2.5s;
	animation-fill-mode: forwards;
	visibility: hidden;
}

.mdl-data-table {
	font-size: 100%;
	background: linear-gradient(to right, #2a6c73 , #56898e);
	color: white;
	letter-spacing: 0.3em;
	font-family: Prime, 'Open Sans', sans-serif;
}

.mdl-data-table th {
	font-size: 100%;
	color: black;
	letter-spacing: 0.3em;
	font-family: Prime, 'Open Sans', sans-serif;
}

.td-row:hover {
	color: black;
	background-color: #2a6c73;
	animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;	
	transform: translate3d(0, 0, 0);
}

.rest-bottom {
	position: relative;
	bottom: 0;
}

#resume-page-1 img, #resume-page-2 img{
	width: 100%;
	height: auto;
}

#download-resume {
	margin: 0 auto;
}

#divide-image1 {
	background-attachment: fixed;
	background-image: url('/img/back1.png');
}

#divide-image2 {
	background-attachment: fixed;
	background-image: url('/img/back2.png');
}
