body {
  	background: white;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: normal;
	margin: 0;
    padding: 0;
}

.mdl-layout__header {
}

.mdl-layout__drawer-button {
 	color: black;
}

.mdl-layout__header-row .mdl-navigation__link {
 	color: black;
}

.mdl-layout-title {
 	color: black;
}

.mdl-data-table {
	background-color: white;
	color: black;
	margin: auto;
}

.td-row:hover {
	color: black;
}

a {
	color: black;
}

.mdl-mini-footer {
    background: white;
	color: black;
	height: 40px;
}

#spinner {
  	width: 80px;
  	height: 80px;
}

#pdf-viewer {
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  	width: 800px; 
  	height: 800px;
}

.image {
    height: 350px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.content {
    height: 600px;
    width:100%;
    z-index: 2;
    color:black;
    background: white;
}

.content p {
    font-size:16px;
    color: black;
    font-weight: 300;
    margin: 30px 120px;
}

.content h1 {
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin-left: 60px;
    margin-top: 0px;
}

h1::first-letter {
    font-size: 50px;
    font-weight: 500;
    color: #e45514;
}


#awards_wall {
    background: url(/img/g1.gif);
    background-attachment: fixed;
}
#awards_content {
    height: 600px;
}

#courses_wall {
    background: url(/img/g2.gif);
    background-attachment: fixed;
}

#courses_content {
    height: 900px;
}

#university_wall {
    background: url(/img/g1.gif);
    background-attachment: fixed;
}

#emagee{
    float: left;
}

.paper-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}